/* Global Stylesheet */

/* Custom fonts */
@font-face {
    font-family: 'PrincessSofia';
    src: url('/fonts/PrincessSofia-Regular.ttf');
}

html,
body {
	@apply h-full;
}

/* Page Styles */
.font-princess-sofia {
    font-family: 'PrincessSofia';
}
